body{
margin:auto;
max-width:1160px;
background-image:url(background/bg-stars-2560.jpg);
color:#00A9BF;
}

header ul{
	display:block;
	text-align:center;
}

header ul li{
	padding : 0.1em 1em 0 0;
	display:inline-block;
	font-size:2rem;
	
}


h1{
	color:rgb(60,232,254);
	padding-left:25px;
}
h1:after{
	content:" /";
}

h2{
	color:rgb(60,232,254);
}

.ships {
	
	float:left;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: rgb(122,246,251);
	border-width: medium;

}

.box{
  
  float:left;
  width: 520px;
  height:350px;
  padding: 20px;
  border-radius: 0 0 25px 5px;
  margin: 10px;
  background:rgb(19,34,49);
}
/* je sais pas si c'est du javascript, mais c'était sur le W3C : https://www.w3schools.com/howto/howto_css_zoom_hover.asp*/
.box img:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.box img{

	background:#aaaaaa;
	border: 3px solid;
	border-image: radial-gradient(rgb(1,91,129),rgb(1,116,129))1;
	max-width:514px;
	max-height:200px;
	min-height:200px;
	display:block;
	transition: transform .2s;
}

.title_ship{
	font-size:1.5rem;
	color:green;
	text-transform:uppercase;
	
}

a{
	color:orange;
}

footer{
	clear:left;
	padding: 5px 0.5 em 7px;

}

footer a{
	color:orange;
	text-decoration:none;
}

footer ul{
	display:block;
	text-align:center;
}

footer ul li{
	font-size:1.2rem;
	padding : 0.1em 1em 0 0;
	display:inline-block;	
}



/* QUESTION DU MARGIN AUTO ? -- POURQUOI CA SE MET PAS AU MILIEU DE LA PAGE*/

/* 	background: linear-gradient(90deg,
	rgba(102,102,141,0.6),
	rgba(102,102,141,1),
	rgba(102,102,141,0.6)
	);
	
	  	background: linear-gradient(90deg,
	rgba(0,57,129,0.6),
	rgba(0,57,129,0.2),
	rgba(0,57,129,0.6)
	);
	border: 5px solid;
  border-image: radial-gradient(rgb(81,81,194),rgb(15,15,152))1;
	
*/


/*ON FAIT LA MAIN PAGE ICI */

.mainpage{
	float:left;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: rgb(122,246,251);
	border-width: medium;
}

.promo{
  float:left;
  width: 100%;
  height:100%;
  padding-bottom:50px;
}
/* ancienne méthode
.promo img{
	position : relative ;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
*/
.button_prom{
  position: relative;
  bottom: 450px;
  left:10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 46px;
  text-shadow: 2px 2px black;
}
/*ancienne méthode, puis W3C

.button_prom {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 46px;
  position : relative;
  bottom: 450px;
  left: 100px;
  text-shadow: 2px 2px black;
}*/

.promotitre{
  font-size: 46px;
  position: relative;
  bottom: 650px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-shadow: 2px 2px black;
}

.recherche{
	clear:left;
}

form{
	transform:scale(1.5);
	text-align:center;
	padding-bottom:50px;
}

input[type="submit"]{

 cursor:pointer;
 border-radius: 4px;
 background-color: rgb(19,34,49);
 border-color: rgb(1,116,129);
 color:#00A9BF

}

form label input{
	color:white;
	background-color:rgb(29,40,60);
	border:2px solid;
	border-color: rgb(1,116,129);
}

.mot_du_jour{
	transform:scale(1.2);
	text-align:center;
	padding:20px;
}


.login{
  position:absolute;
  top:0;
  right:0;
  overflow:auto;
}

.login a{
	clear:left;
	color:rgb(60,232,254);
	padding:8px 0px 8px 4px;
	float:left;
	width:100px;
	border:solid;
	border-color:rgb(1,116,129);
	display:block;
	outline:0;
	background:rgba(19,34,49,0.6);
}

.login a+a{
	border-top:none;
}