body{
margin:auto;
max-width:1160px;
background-image:url(background/bg-stars-2560.jpg);
color:#00A9BF;
}

header ul{
	display:block;
	text-align:center;
}

header ul li{
	padding : 0.1em 1em 0 0;
	display:inline-block;
	font-size:2rem;
	
}


h1{
	color:rgb(60,232,254);
	padding-left:25px;
}
h1:after{
	content:" /";
}

h2{
	color:rgb(60,232,254);
}

.ships {
	float:left;
}

.box{
  float:left;
  width: 520px;
  height:350px;
  padding: 20px;
  border-radius: 0 0 25px 5px;
  margin: 10px;
  background:rgb(19,34,49);
}
/* je sais pas si c'est du javascript, mais c'était sur le W3C : https://www.w3schools.com/howto/howto_css_zoom_hover.asp*/
.box img:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5); 
}

.box img{

	background:#aaaaaa;
	border: 3px solid;
	border-image: radial-gradient(rgb(1,91,129),rgb(1,116,129))1;
	max-width:514px;
	max-height:200px;
	min-height:200px;
	display:block;
	transition: transform .2s;
}

.title_ship{
	font-size:1.5rem;
	color:green;
	text-transform:uppercase;
	
}

a{
	color:orange;
}

footer{
	clear:left;
	padding: 5px 0.5 em 7px;

}

footer a{
	color:orange;
	text-decoration:none;
}

footer ul{
	display:block;
	text-align:center;
}

footer ul li{
	font-size:1.2rem;
	padding : 0.1em 1em 0 0;
	display:inline-block;	
}

main{
	float:left;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: rgb(122,246,251);
	border-width: medium;
}

.promo{
  float:left;
  width: 100%;
  height:100%;
  padding-bottom:50px;
  margin-left:20px;
}
/* ancienne méthode
.promo img{
	position : relative ;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
*/
.button_prom{
  position: relative;
  bottom: 450px;
  left:10%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(-50%, -50%); utilité ?*/
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 46px;
  text-shadow: 2px 2px black;
}
/*ancienne méthode, puis W3C

.button_prom {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 46px;
  position : relative;
  bottom: 450px;
  left: 100px;
  text-shadow: 2px 2px black;
}*/

.promotitre{
  font-size: 46px;
  position: relative;
  bottom: 650px;
  left: 50%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(-50%, -50%); utilité ?*/
  text-shadow: 2px 2px black;
}

.recherche{
	clear:left;
}

form{
	transform:scale(1.5);
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	text-align:center;
	padding-bottom:50px;
}

input[type="submit"]{

 cursor:pointer;
 border-radius: 4px;
 background-color: rgb(19,34,49);
 border-color: rgb(1,116,129);
 color:#00A9BF

}

form label input{
	color:white;
	background-color:rgb(29,40,60);
	border:2px solid;
	border-color: rgb(1,116,129);
}

.mot_du_jour{
	transform:scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	text-align:center;
	padding:20px;
}


.login{
	display:flex;
	justify-content:flex-end;
	position:absolute;
	top:0;
	right:0;
	clear:left;
}

/*
.login{
  position:absolute;
  top:0;
  right:0;  
  overflow:auto;
}
*/

.strike{
	text-decoration:line-through;
	margin-right:5px;
}


/*Beaucoup de souffrances ci-dessous*/
.login a{
	/*
	clear:left;
	float:left;
	outline:0;
	plus necessaire à priori après modifs
	*/	
	padding:18px 2px 6px 6px;
	text-align:center;

	color:rgb(60,232,254);
	text-decoration:none;
	
	height:35px;
	width:120px;
	border:1px solid transparent;
    border-image: url(background/border.svg);
	border-image-slice:2 fill;

}

.login a:hover{
	color:white;
    border-image: url(background/border3.svg);
	border-image-slice:2 fill;
}



.tab_button{
	color:rgb(60,232,254);
	text-decoration:none;
	display:inline-block;
	width:300px;
	height:41px;
	background:url('background/tab.png');
	background-repeat:no-repeat;
	background-position:center top;
}
	
.tab_button:hover{
	width:300px;
	height:41px;
	color:white;
	background:url('background/glow_tab.png'),url('background/tab.png') ;
	background-repeat:no-repeat;
	background-position:center bottom,center top;	
}

.logo{
	position:fixed;
	top:-5%;
	left:-2%;
	-ms-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5); 
}

@media screen and (max-width:1420px){
	.logo{
	position:absolute;
	top:0;
	left:-5%;
	-ms-transform: scale(0.2);
	-webkit-transform: scale(0.2);
	transform: scale(0.2);

	}
	body{
		max-width:600px;
	}
	
	/*Calvaire sur la page accueil à scale tout sur petit écran, à améliorer mais comment ?*/
	main{
		max-width:600px;
	}
	.promo img{
	  width: 100%;
	  height:100%;		
		
	}
	
	.button_prom{
	  bottom: 250px;
	  font-size: 30px;	
	}
	
	.promotitre{
	  font-size: 30px;
	  bottom: 325px;		
	}
	
	.tab_button{
	width:179px;
	height:25px;
	background:url('background/tab_small.png') ;		
	font-size:1rem;
	}
	
	.tab_button:hover{
	width:179px;
	height:25px;
	background:url('background/glow_tab_small.png'),url('background/tab_small.png');
	background-position:center bottom;	
	}

	
}